/* Estilização global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Garante que padding/border não afete as dimensões */
    font-family: "Poppins", sans-serif;

}



body{
    scroll-behavior: smooth;
}


a:active{
    opacity: 0.5;
}

html, body {
    width: 100%; /* Garante que o body ocupe toda a largura */
    height: 100%; /* Garante que o body ocupe toda a altura */
    overflow-x: hidden; /* Evita qualquer rolagem horizontal */
}


/* Outros elementos */

.cpm-max{
    width: 23rem;
    height: auto;
}
.menu-top{
    background: #00528a;

}
.menu-btn{
    width: 2rem;
    height: auto;
}
.menu-top button{
    background: none;
    border: none;
    margin-inline: 1rem;
    margin-top: 1rem;
}
.menu-top-options{
    background-color: rgba(8, 149, 211,0.7);
    padding: 0.5rem;
}
.main-ul{
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}
.main-ul li a{
    color: white;
    font-weight: 500;
}

.main-nav {
    display: flex;
    padding-bottom: 0.5rem;
    justify-content: center;
}
.main-ul {
    display: flex;
    list-style: none;
    margin-inline: auto;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
#options{
    background-color: white;
    padding: 1rem;
    transition: 1.5s ease;
    display: none;
}

#options ul{
    list-style: none;
}
#options a{
    color: #00528a;
    font-weight: 600;
}

button{
    transition: 1s ease;
}
.hero button:active{
    background-color: rgba(0, 82, 138, 0.5);
}
.hero button:hover{
    background-color: rgb(114, 187, 255);
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}